h5.card-title.product_title {
  font-size: 16px;
  text-align: center;
  margin: 8px 0;
}

p.card-text.product_subtitle {
  font-size: 12px;
  margin: 2px 0;
  color: #9c9393;
}

.product_footer {
  display: flex;
  justify-content: space-between;
}

a.btn.btn-sm.btn-primary {
  font-size: 12px;
}

span.product_price {
  font-weight: 700;
}

.card.product {
  transition: all 0.5s linear;
}

.card.product:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

a.card-img-top.product_img {
  text-align: center;
}

img.card-img-top.product_img {
  max-height: 230px !important;
}
