form.search-header {
  border: 2px solid #ff5500;
  border-radius: 5px;
}

select.border-right {
  border-color: transparent;
  width: 30%;
}

button.btn.input-group-append.header_button {
  background: #ff5500;
  color: #ffffff;
  border-radius: inherit;
}

.header_search_icon {
  height: 100%;
  margin-right: 6px;
}
