h6.navbar-brand {
  font-weight: 700;
}

h3.count__down__title {
  font-weight: 700;
}

p.count_-down__subtitle {
  font-size: 15px;
}

.timer div {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
}

span.number {
  font-size: 20px;
  display: block;
  background: #212529;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  min-width: 50px;
}

span.text {
  font-size: 14px;
}

.count__Down {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
